/* reset */
a {
    color: inherit;
    text-decoration: underline;
}
input, button {
    background: none;
    outline: none;
    border: none;
}

/* layout */
.wrapper {
    background: #e9ecef;
    height: 100vh;
}

section.todo-template {
    width: 512px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 6rem;
    overflow: hidden;
}

section.todo-template .app-title {
    background: #22b8cf;
    color: #fff;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.todo-template .content {
    background: #fff;
}

section.todo-template .content .todo-insert {
    display: flex;
    background: #495057;
}

section.todo-template .content .todo-insert input {
    flex: 1;
    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #fff;
}

section.todo-template .content .todo-insert input::placeholder {
    color: #dee2e6;
}

section.todo-template .content .todo-insert button {
    background: #868e96;
    color: #fff;
    padding: 0.1rem;
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.todo-template .content .todo-insert button:hover {
    background: #abd5bd;
}

section.todo-template .content .todo-list {
    min-height: 320px;
    min-height: 520px;
    overflow: auto;

}

section.todo-template .content .todo-list .todo-list-item {
    display: flex;
    padding: 1rem;
    align-items: center;
}

section.todo-template .content .todo-list .todo-list-item:nth-child(2n) {
    background: #f8f9fa;
}

section.todo-template .content .todo-list .todo-list-item .checkbox {
    flex: 1;
    display: flex;
    align-items: center;
}

section.todo-template .content .todo-list .todo-list-item .checkbox input {
    transform: scale(1.5);
}

section.todo-template .content .todo-list .todo-list-item .checkbox .text {
    flex: 1;
    margin-left: 0.5rem;
}

/* 코드 중복을 최소화 하기위해 공통부분을 따로 뺌 */
section.todo-template .content .todo-list .todo-list-item div[class] {
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

section.todo-template .content .todo-list .todo-list-item .modify {
    color: green;
    margin-right: 0.6rem;
}

section.todo-template .content .todo-list .todo-list-item .remove {
    color: red;
}